{% extends "Homepage.html" %}
{% load static %}
{% block content %}

<br><br>
<div class="d-flex justify-content-center">
<form method="post" action="{% url 'order_from_offer' %}" >
      {% csrf_token %}
    <p style="text-align:center"><strong>Contact us</strong></p>
  <div class="form-group p-2">
    <label for="formGroupExampleInput" style="display:inline">Your name <p style="color:red;display:inline">*</p></label>
    <input name="user_name" type="text" class="form-control" id="formGroupExampleInput" placeholder="">
  </div>
  <div class="form-group p-2">
    <label for="formGroupExampleInput2">Telephone</label>
    <input name="Telephone" type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
  </div>
      <div class="form-group p-2">
    <label for="formGroupExampleInput2">Email</label>
    <input name="Email" type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
  </div>

      <div class="form-group p-2">
    <label for="formGroupExampleInput2">Describe your needs</label>
    <textarea  name="Order" class="form-control " id="formGroupExampleInput2" placeholder="" style="height: 120px;"></textarea>
  </div>
<div class="form-group p-2">
    <input name="file" type="file" class="form-control-file" id="exampleFormControlFile1" multiple>
  </div>

 <div class="text-center">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
</form>

{% endblock %}